@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: rgb(28, 152, 98);
}

.cards {
  width: 300px;

  align-items: center;
  margin: auto;
  margin-top: 40px;
  height: auto;
  background-color: white;
}

.heart {
  width: 20;
  height: 20;
}

#simbolo1 h1 {
  margin-left: 10px;
  margin-top: 30px;
  font-size: 4em;
}

.borde {
  border: 2px solid gray;
  border-radius: 20px;
}

#simbolo2 h1 {
  margin-right: 10px;
  margin-bottom: 30px;
  font-size: 4em;
  -webkit-transform: rotate(180deg);
}

#numero h1 {
  font-size: 8em;
  margin-top: 30px;
  margin-bottom: 40px;
  font-family: serif;
}

.botonActualizar {
  margin-top: 20px;
}
